<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.mfi.qa.testUtilities.Reporting" />
	</listeners>
	<test name="MicroFocusIntergrationTest">
		<classes>
			<class name="com.mfi.qa.testCases.TC_LoginPage_002" />
			<class name="com.mfi.qa.testCases.TC_HomePage_001" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
